.messaging {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    color: #007BFF;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    
  }
  
  textarea {
    height: 100px;
  }
  
  .message-templates ul {
    list-style-type: none;
    padding: 0;
  }
  
  .message-templates li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .message-templates li:hover {
    background-color: #f4f4f4;
  }
  
  .notifications, .settings {
    margin-top: 20px;
  }

  th{
    color: black ;
  }
  